[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
numpy = "*"
tensorflow = "*"
tqdm = "*"

[dev-packages]
onnxruntime = "*"
tf2onnx = "*"

[requires]
python_version = "3.8"
